In [ ]:
def ques1():
  usern=input("Enter username\n")
  age=input("Enter age\n")
  print(f"Welcome {usern}. Your age is {age} ")

ques1()

Enter username
huss
Enter age
21
Welcome huss. Your age is 21

In [ ]:
from ast import literal_eval
def ques2():
  inputt=input("Enter data")
  try:
        return type(literal_eval(inputt))
  except (ValueError, SyntaxError):

       return str


ques2()

Enter data2

int

In [ ]:
def ques3():
  list=["a","b","c"]
  print(list)
  list.append("d")
  print(list)
  list.remove("a")
  print(list)
  print([x.upper() for x in list])

ques3()

['a', 'b', 'c']
['a', 'b', 'c', 'd']
['b', 'c', 'd']
['B', 'C', 'D']

In [ ]:
def ques4():
  tup=(1,2)
  print(tup)
  var1=tup[0]
  print(var1)
  var2=tup[1]
  print(var2)
ques4()

(1, 2)
1
2

In [ ]:
def ques5():
  dict ={
      "Hussain": "A+",
      "Augustus" : "D",
      "Ceasar" : "c",
      "Aurelius" : "B+",
      "Khalid" : "A"



  }
  print(dict)

ques5()

{'Hussain': 'A+', 'Augustus': 'D', 'Ceasar': 'c', 'Aurelius': 'B+', 'Khalid': 'A'}

In [ ]:
def ques6():
  list1=[1,2,3,4]
  print(list1)
  list2=[4,5,6,7]
  print(list2)
  set1=set(list1)
  set2=set(list2)
  print('UNION' ,set1.union(set2))
  print('iNTERSECTION' ,set1.intersection(set2))
  print('DIFFERENCE' ,set1.difference(set2))

ques6()

[1, 2, 3, 4]
[4, 5, 6, 7]
UNION {1, 2, 3, 4, 5, 6, 7}
iNTERSECTION {4}
DIFFERENCE {1, 2, 3}

In [ ]:
def ques7():
  value=input("Enter A value")
  value=int(value)
  if value<0:
    print("Value is negative")
  elif value>0:
    print("Value is positive")
  else:
    print("Value is 0")

  if value %2==0:
    print("Value is even")
  else:
    print("Value is odd")

ques7()

Enter A value-221
Value is negative
Value is odd

In [1]:
def ques8():
  for i in range(0,51):

    if(i%3==0 and i%5==0):
      print(i," FiZZBUZZ")

    elif(i%3==0):
      print(i," FIZZ")

    elif(i%5==0):
      print(i," BUZZ")




ques8()

0  FiZZBUZZ
3  FIZZ
5  BUZZ
6  FIZZ
9  FIZZ
10  BUZZ
12  FIZZ
15  FiZZBUZZ
18  FIZZ
20  BUZZ
21  FIZZ
24  FIZZ
25  BUZZ
27  FIZZ
30  FiZZBUZZ
33  FIZZ
35  BUZZ
36  FIZZ
39  FIZZ
40  BUZZ
42  FIZZ
45  FiZZBUZZ
48  FIZZ
50  BUZZ

In [ ]:
def ques9():
  n = input("Enter number")
  n=int(n)
  fact = 1

  for i in range(1, n+1):
      fact = fact * i

  print("The factorial is : ", fact)
ques9()

Enter number6
The factorial is :  720

In [ ]:
def ques10():

  num=input("Enter a number")
  num=int(num)
  if (num>1):
    for i in range (2,(num//2)+1):
      if (num%i==0):
        print("Not a prime number")
        break

    else:
      print("It is a prime number")
  else:
    print("Not a prime")

ques10()

Enter a number7
It is a prime number

In [ ]:
def ques11(list):
  list1=list
  for i in range(0,len(list)):
    list1[i]=list[i]*list[i]

  return list1

list=[1,2,3,4,5]
print(list)
list2=ques11(list)
print(list2)

[1, 2, 3, 4, 5]
[1, 4, 9, 16, 25]

In [ ]:
def ques12():
  dict1={
      "a" : 1,
      "b" : 2,
      "c" : 3,



  }
  dict2={
      "c" : 1,
      "e" : 5,
      "f" : 6,



  }

  merge=dict1.copy()
  merge.update(dict2)

  print(merge)

ques12()

{'a': 1, 'b': 2, 'c': 1, 'e': 5, 'f': 6}

In [11]:
def ques18():
    dict1 = {
        "Hussain": "DRAMA",
        "AHMED": "DRAMAFAN",
        "AADIL": "SAD"
    }

    username = input("Enter username: ")

    if username not in dict1:
        print("Username not found. Please register.")
        password = input("Enter a new password: ")
        dict1[username] = password
        print("Registration successful. You can now log in.")
    else:
        password = input("Enter password: ")
        if dict1[username] == password:
            print("Logged in successfully.")
        else:
            print("Wrong password.")

ques18()

Enter username: Hussain
Enter password: DRAMA
Logged in successfully.

In [12]:
def countwords(words):
    frequency = {}
    for word in words:
        if word in frequency:
            frequency[word] += 1
        else:
            frequency[word] = 1
    return frequency
list = ["apple", "banana", "apple", "orange", "banana"]
count = countwords(list)
print(count)

{'apple': 2, 'banana': 2, 'orange': 1}

In [4]:
def removedup(list):
    newlist = []
    for item in list:
        if item not in newlist:
            newlist.append(item)
    return newlist

list = [1, 2, 2, 3, 4, 4, 5]
newlist = removedup(list)
print(newlist)

[1, 2, 3, 4, 5]

In [ ]:
def ques16(list):
  sum=0
  for i in range(0,len(list)):
    sum = sum + list[i]
  average=sum/len(list)
  print(average)

vals=[1,2,3,4,5]
ques16(vals)

3.0

In [ ]:
def ques15():
  terms = int(input("How many terms? "))
  n1, n2 = 0, 1
  count = 0

  if terms == 1:

    print(n1)

  else:
     print("Fibonacci sequence:")
     while count < terms:
         print(n1)
         nth = n1 + n2
         n1 = n2
         n2 = nth
         count += 1

ques15()

How many terms? 7
Fibonacci sequence:
0
1
1
2
3
5
8

In [5]:
def ques17():
  for i in range(0,11):
    print(f" Table for ",i)
    for j in range(0,11):
      print(i*j)

ques17()

 Table for  0
0
0
0
0
0
0
0
0
0
0
0
 Table for  1
0
1
2
3
4
5
6
7
8
9
10
 Table for  2
0
2
4
6
8
10
12
14
16
18
20
 Table for  3
0
3
6
9
12
15
18
21
24
27
30
 Table for  4
0
4
8
12
16
20
24
28
32
36
40
 Table for  5
0
5
10
15
20
25
30
35
40
45
50
 Table for  6
0
6
12
18
24
30
36
42
48
54
60
 Table for  7
0
7
14
21
28
35
42
49
56
63
70
 Table for  8
0
8
16
24
32
40
48
56
64
72
80
 Table for  9
0
9
18
27
36
45
54
63
72
81
90
 Table for  10
0
10
20
30
40
50
60
70
80
90
100

In [10]:
def checkpalindrome(t):
    palindrome = lambda t: t == t[::-1]
    return palindrome(t)
Checkpal=input("enter word ")
checkpalindrome(Checkpal)

enter word burbrub

True

In [7]:
def converttemp():
    choice = input("Convert from celsius to fahrenheit (C) or fahrenheit to celsius (F) ")
    if choice == "C":
        celsius = float(input("Enter temperature in celsius: "))
        fahrenheit = (celsius * 9/5) + 32
        print(f"Temperature in fahrenheit: {fahrenheit}")
    elif choice == "F":
        fahrenheit = float(input("enter temperature in fahrenheit: "))
        celsius = (fahrenheit - 32) * 5/9
        print(f"Temperature in Celsius: {celsius}")

converttemp()

Convert from Celsius to Fahrenheit (C) or Fahrenheit to Celsius (F)? F
Enter temperature in Fahrenheit: 122
Temperature in Celsius: 50.0